html,body{
	height: 100%;
}
body{
	overflow: hidden;
}
#manageUnitContainer {
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 290px;
	overflow-y: auto;
	box-shadow: 10px 0 0 5px #E7EEFE;
	height: 100%;
}

#manageUnit {
	position: absolute;
    top: 10px;
    bottom: 0;
    left: 310px;
    right: 0;
}
#treeView {
	width: 100% !important;
}
#container {
	position: absolute;
    top: 46px;
    bottom: 0;
    left: 0;
    right: 0;
}

.modelMenu_ul_h li {
    margin-right: 2px !important;
    border: 0 !important;
}

.modelMenu_ul_h {
    border-bottom: 1px solid #4285F4 !important;
    height: 30px;
    overflow: initial;
}

.modelMenu_ul_h li.active {
	color: #4285F4 !important;
    background: #fff !important;
    border: 1px solid #4285F4 !important;
    border-bottom: 1px solid #fff !important;
    margin-top: 1px !important;
}

.head {
	text-align: center;
	height: 40px;
	padding: 10px 0;
}

.head span:first-child {
	font-size: 15px;
}

.head span:first-child img{
	margin-right: 5px;
	position: relative;
	bottom: 1px;
}

.head span:first-child+span {
	color: #4788F4;
	padding-left: 10px;
	cursor: pointer;
}

.head span:first-child+span img{
	margin-right: 5px;
	position: relative;
	bottom: 1px;
}

.inputWrap {
	padding-left: 5px;
	display: none;
}
/*.inputWrap~ul{
	display: none;
}*/
.inputWrap input {
	border: 0;
	box-shadow: 0 0 5px 0 #4285F4;
	outline: none;
	padding-left: 10px;
	width: 120px;
	height: 26px;
	line-height: 26px;
}

.inputWrap img {
	cursor: pointer;
}

ul {
	padding-left: 13px;
}

ul li {
	line-height: 30px;
	font-size: 14px;
}

ul li img:first-child {
	position: relative;
	bottom: 3px;
	padding-right: 5px;
}

ul li>div:first-child {
	cursor: pointer;
}
ul .manageUnitWrap:hover{
	background: rgb(231, 239, 254)!important;
}
ul .manageUnitWrap:hover img.add,ul .manageUnitWrap:hover img.del{
	display: inline-block;
}
ul li img.add, ul li img.del {
	display: none;
	margin: 8px 5px;
	cursor: pointer;
	float: right;
}
.haveChild>ul{
	display: none;
}
.haveChild::before{
	content: "111";
}
.manageUnitWrap.active {
	background: rgb(231, 239, 254)!important;
}

#treeView{
	margin-top: 20px;
	width: 217px;
}

.has-feedback .form-control {
	display: block;
	width: 100%;
	height: 34px;
	font-size: 14px;
	line-height: 1.42857;
	color: rgb(85, 85, 85);
	background-color: rgb(255, 255, 255);
	background-image: none;
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
	padding: 6px 12px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	border-image: initial;
	border-radius: 4px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.addBtn_treeView_1 {
	display: none;
}

.confirmWin_enterBtn,
.confirmWin_cancleBtn{
	height: 30px;
	line-height: 30px;
}
.confirmWin_content input{
	width: 100%;
}

#banner-list{
	height: 100%;
	position: relative;
}
.goods_ul{
	position: relative;
	height: 100%;
	padding: 0;
	overflow: auto;
}
.goods_pic{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.left_icon,
.right_icon{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,.5);
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-family: '宋体';
	color:#fff;
	font-size: 30px;
	cursor: pointer;
}
.left_icon{
	left: 20px;
}
.right_icon{
	right: 20px;
}
.goods_pic{
	display: none;
}
.goods_pic:first-child{
	display: block;
}

.ztree li span.button.remove{
	background: url("../img/del.png") center no-repeat;
	margin: 0;
	vertical-align: sub;
	margin-left: 5px;
}
.ztree li span.button.updata{
	background: url("../img/updata.png") center no-repeat;
	margin-left: 5px;
	vertical-align: sub;
}
/* #updataBtn_treeView_3 {
	vertical-align: center;
	display: inline-block;
	margin-top: -19px;
}
#delBtn_treeView_3{
	display: inline-block;
	margin-top: 6px;
} */
.ztree li span.button.add{
	margin: 6px 3px 0 2px;
}
#treeView_1{
	position: relative;
}
#treeView_1_ul>li:nth-child(1),
#treeView_1_ul>li:nth-child(2),
#treeView_1_ul>li:nth-child(3),
#treeView_1_ul>li:nth-child(4){
	position: relative;
}
.mask_box,
.maskBox1,
.maskBox2,
.maskBox3,
.maskBox4{
	content: "";
	display: block;
	width: 135px;
	height: 27px;
	position: absolute;
	top: 0;
	left: 18px;
	cursor: pointer;
}
.maskBox1{
	width: 100px;
}

.maskBox2{
	width: 100px;
}

.maskBox3{
	width: 120px;
}

.mask_add,
.maskAdd1,
.maskAdd2,
.maskAdd3,
.maskAdd4{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	top: 8px;
	left: 135px;
	background: url(../img/zTreeStandard.png) 0 -71px no-repeat;
	/* background-color: red; */
}
.maskAdd1{
	left: 80px;
}
.maskAdd2{
	left: 80px;
}
.maskAdd3{
	left: 110px;
}
.maskAdd4{
	left: 110px;
}
.hide{
	display: none;
}
.detailsMask{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
}
.use_year{
	cursor: pointer;
}
.leadingIn{
	background-color: rgba(66,133,244,1);
	color: #fff;
}
.derive{
	border: 1px solid rgba(66,133,244,1);
	color: rgba(66,133,244,1);
}
.button_warp{
	position: absolute;
	left: 230px;
	top: 10px;
}
.button_right{
	position: absolute;
	right: 15px;
	top: 10px;
}
#leadingIn{
	width: 58px;
	height: 32px;
	padding: 0;
}
.file {
	width: 58px;
	height: 32px;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
	opacity: 0;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
	border: 1px solid rgb(231, 239, 254);
}